#logo{
    height: 46px;
    width: 200px;
}
#playnow-btn{
    height: 50px;
    width: 150px;
    color: white;
    font: 700;
}

#baner-title-photo{
    height: 300px;
    width: 500px;
}

 
#notice{
    margin-top: 30px;
    font-weight: 500;
}

ul{
    color: aliceblue;
}
#nav-btn{
    color: aliceblue;
}
.navbar-start{
    width: 16%;
}

h1,p{
    color: white;
}
 

#carrousell-section{
    margin-top: 300px;
    margin-left: 30px;
}
#Overworld{
    font-size: 30px;
}
#coruessel-slide{
    width: 50%;
}
.w-100{
    width: 774px;
}
 
/* .frame {
    width: 300px;
    height: 300px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
  } */
  img {
    width: 400px;
    height: 300px;
  }
  #war-materials{
    width: 300px;
    height: 200px;
    margin-left: 65%;
  }
  #arena-img{
    background-repeat: no-repeat;
     
  }

  #Conquer-the-Arena-card{
    height: 200px;
    width: 500px;
    background-color: #282626a9;
    margin-top: 1633px;
    position: relative;
    margin-left: 400px;
    text-align: center;
  }

  .proudly-supporting{
    width: 400px;
    margin-left: 40px;
  }
   